<article class="{{post_class}}">
	<header class="post-header">
		<h1>
			{{#if linkPost}}
				<a href="{{url}}" class="permalink">{{title}}</a>
			{{else}}
				{{title}}
			{{/if}}
		</h1>
		{{^is "page"}}
			<p class="post-meta">
				<span class="author">{{author.name}}</span> wrote this on
				<time class="post-time" datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>.
			</p>
		{{/is}}
	</header>

	<div class="post-content">
		{{content}}
	</div>

	{{#is "post"}}
		<footer class="post-footer">
			<p class="post-meta post-meta--footer">
				<span class="author">{{author.name}}</span> wrote this on
				<time class="post-time" datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>.
			</p>
			<nav class="pagination">
				{{#prev_post}}<a class="pagination-item prev" href="{{url}}">{{title}}</a>{{/prev_post}}
				{{#next_post}}<a class="pagination-item next" href="{{url}}">{{title}}</a>{{/next_post}}
			</nav>
		</footer>
	{{/is}}
</article>
